.project-list {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
}

#dark .project-list {
    background-color: rgb(37, 26, 47);
box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
     color: rgb(202, 186, 186);
}

.project-list:hover {
    cursor: pointer;
    border-left: 5px solid rgb(109, 24, 24);
    transition-duration: 1s;
    

}

.title-and-collapse-option {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.tech-used-in-project {
    margin-top: 20px;
    margin: 5px;
}

.tech-used-in-project p {
    background-color: rgb(44, 117, 93);
    color: white;
    border-radius: 90px;
    padding: 8px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tech-used-in-project p:hover {
    background-color: rgb(58, 193, 58);
}

.live-demo-button {
    background-color: brown;
    border-radius: 90px;
    width: fit-content;
    margin: 5px;
    padding: 10px;
}

.live-demo-button a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.live-demo-button:hover {
    background-color: rgb(109, 24, 24);;
    transition-duration: 1s;

}

.project-list-opened {
    border-left: 5px solid brown;
}

.description {
    margin: 5px;
}